<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 
		扫包，排除Controller实例
	 -->
	<context:component-scan base-package="com.woniu">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 
		配置数据源
	 -->
	 <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
	 	<property name="url" value="jdbc:mysql://localhost:3306/stumange2020?characterEncoding=utf8"></property>
	 	<property name="username" value="root"></property>
	 	<property name="password" value="root"></property>
	 </bean>
	 <!-- 
	 	SqlSessionFactory
	  -->
	  <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  	<property name="dataSource" ref="dataSource"></property>
	  	<!-- 配置别名包 -->
	  	<property name="typeAliasesPackage" value="com.woniu.pojo"></property>
	  </bean>
	  <!-- 
	  	扫描所有的mapper
	   -->
	   <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	   		<property name="basePackage" value="com.woniu.dao"></property>
	   		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	   </bean>
	   <!-- 
	   	声明式事务
	    -->
	    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    	<property name="dataSource" ref="dataSource"></property>
	    </bean>
	    
	    <tx:annotation-driven/>
</beans>
